NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBeWfuuu8VwxNTjPYnThWf9LV4Byj36-7I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=myott-a40db.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=myott-a40db
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=myott-a40db.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=985378262660
NEXT_PUBLIC_FIREBASE_APP_ID=1:985378262660:web:6de1bafa0a78f635d1fcd1
TMDB_API_KEY=5701acdc0ce0fd37222a3c46fa2ac9aa
EXTRACTOR_URL=https://link-it.chanducharan2030.workers.dev/extract
LOCAL_DB_PATH=./local.db
EXTRACT_TTL_SECONDS=21600